vti_encoding:SR|utf8-nl
vti_author:SR|mttlyt-PC\\mttlyt
vti_modifiedby:SR|mttlyt-PC\\mttlyt
vti_timelastmodified:TR|10 Sep 2011 13:26:16 -0000
vti_timecreated:TR|23 Aug 2011 14:46:58 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|contact.html project.html standard.html news.html aboutUs.html ThongTin.html DanhSachGiaoVien.html default.html TinTuc.html
vti_nexttolasttimemodified:TW|10 Sep 2011 13:26:07 -0000
vti_cacheddtm:TX|10 Sep 2011 13:26:16 -0000
vti_filesize:IR|6842
vti_cachedlinkinfo:VX|S|../images/bigBg.jpg S|../images/menubar-bg.gif S|../images/leftMenutitle-bg.jpg S|../images/leftmenu-grad.png S|../images/bullet.gif S|../images/rightTitle-bg.jpg S|../images/rightmenu-grad.png S|../images/printer.jpeg S|../images/bullet.gif S|../images/footer.jpg
vti_cachedsvcrellinks:VX|FSUS|images/bigBg.jpg FSUS|images/menubar-bg.gif FSUS|images/leftMenutitle-bg.jpg FSUS|images/leftmenu-grad.png FSUS|images/bullet.gif FSUS|images/rightTitle-bg.jpg FSUS|images/rightmenu-grad.png FSUS|images/printer.jpeg FSUS|images/bullet.gif FSUS|images/footer.jpg
