vti_encoding:SR|utf8-nl
vti_author:SR|mttlyt-PC\\mttlyt
vti_modifiedby:SR|mttlyt-PC\\mttlyt
vti_timelastmodified:TR|23 Aug 2011 17:33:24 -0000
vti_timecreated:TR|23 Aug 2011 14:46:58 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|contact.html project.html standard.html news.html aboutUs.html default.html
vti_nexttolasttimemodified:TW|23 Aug 2011 17:32:56 -0000
vti_cacheddtm:TX|23 Aug 2011 17:32:56 -0000
vti_filesize:IR|3708
vti_cachedlinkinfo:VX|S|../images/trangChu-icon.gif S|../images/bullet.png S|../images/login-icon.gif S|../images/btnDangNhap.gif S|../images/btnDangNhap-hover.gif S|../images/thongKe.gif S|../images/tinTuc-icon.png
vti_cachedsvcrellinks:VX|FSUS|images/trangChu-icon.gif FSUS|images/bullet.png FSUS|images/login-icon.gif FSUS|images/btnDangNhap.gif FSUS|images/btnDangNhap-hover.gif FSUS|images/thongKe.gif FSUS|images/tinTuc-icon.png
