vti_encoding:SR|utf8-nl
vti_author:SR|mttlyt-PC\\mttlyt
vti_modifiedby:SR|wellcome\\zezz
vti_timelastmodified:TR|24 Aug 2011 08:09:01 -0000
vti_timecreated:TR|23 Aug 2011 14:46:58 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|contact.html project.html standard.html news.html aboutUs.html default.html
vti_nexttolasttimemodified:TW|24 Aug 2011 07:46:54 -0000
vti_cacheddtm:TX|24 Aug 2011 08:09:01 -0000
vti_filesize:IR|4248
vti_cachedlinkinfo:VX|S|../images/gradient.png S|../images/trangChu-icon1.gif S|../images/bullet.png S|../images/login-icon1.gif S|../images/btnDangNhap.gif S|../images/btnDangNhap-hover.gif S|../images/thongKe1.gif S|../images/tinTuc-icon.png
vti_cachedsvcrellinks:VX|FSUS|images/gradient.png FSUS|images/trangChu-icon1.gif FSUS|images/bullet.png FSUS|images/login-icon1.gif FSUS|images/btnDangNhap.gif FSUS|images/btnDangNhap-hover.gif FSUS|images/thongKe1.gif FSUS|images/tinTuc-icon.png
